:root {
  --brand-color: hsl(7, 84%, 62%);
  --white: hsl(0, 0%, 100%);
  --surface-color: hsl(0, 0%, 96%);
  --skeleton-color: hsl(0, 0%, 85%);
  --shape-transparancy: hsla(0, 0%, 100%, 0.6);
  --text-color-primary: hsl(0, 0%, 19%);
  --text-color-secondary: hsl(0, 0%, 42%);

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/1.5 var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color-secondary);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin: 0 auto;
}